body {
    background-color: #fffefe;
}

#menu {
    background-color: #333;

}


#menu ul li a {
    color: white;
}

#menu ul li a:hover {
    text-decoration: underline;
    color: #ff6347;
}

header {
    background-color: #007BFF;
    color: white;
}

h1 {
    color: #333;
}

.projects-table th {
    background-color: #007BFF;
    color: white;
}

.projects-table tr:nth-child(even) {
    background-color: pink;
}

.projects-table a {
    color: #007BFF;
}

.projects-table a:hover {
    text-decoration: underline;
    color: #ff6347;
}

footer {
    background-color: #333;
    color: white;

}