body {
    background-color: #cac8c8;
    text-align: center;
}

img {
    margin-right: 50px; /* Adiciona 20px de espaço à direita de cada imagem */
}

iframe {
    margin-right: 50px; /* Adiciona 20px de espaço à direita de cada imagem */
}

header {
    background-color: #78c5e4;
    position: static;
    width: 80%;
    top: 10;
    left: 10;
    z-index: 100;
    
}
p {
    font-family:sans-serif; 
    color:#ac07c2;
    text-align: center;

    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}   
nav ul li {
    margin: 5px;
}

footer {
    background-color: #f8d0a3;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}       