body {
  background-color: #f0f0f0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

canvas {
  background: white;
  border: 2px solid black;
}